{% extends '/layouts/public.twig' %}
{% block title %} Accueil {% endblock %}

{% block content %}
    <section id="carousel-section" aria-label="Best Movies">
        <div class="wrapper" id="img_buttons" data-carousel>
            <div class="carousel">
                <ul data-slides>
                    <li class="slide" data-index="0"><img src="/public/images/Untitled-1-min.jpg" alt="Movies Collage #1"></li>
                    <li class="slide" data-index="1"><img src="/public/images/Untitled-4-min.jpg" alt="Movies Collage #2"></li>
                    <li class="slide" data-index="2"><img src="/public/images/Untitled-3-min.jpg" alt="Movies Collage #3"></li>
                </ul>
            </div>
        </div>
        <div id="dots">
            <ul>
                <li><div id="el_1"></div></li>
                <li><div id="el_2"></div></li>
                <li><div id="el_3"></div></li>
            </ul>
        </div>
    </section>
    <section id="next_dates">
        <div class="wrapper">
            <h2>Dernières dates de sortie</h2>
            <hr>
        </div>
        <div id="next_dates_slides">
            {% for movie in movies | slice(0, 3) %}
            <div class="premier_movie">
                <img src="{{ movie.poster }}" alt="{{ movie.title }}">
                <h3>{{ movie.title }}</h3>
            </div>
            {% endfor %}
        </div>
    </section>
    <section id="popular">
        <div class="wrapper">
            <h2>Les Plus populaires du moment</h2>
            <hr>
        </div>
        <div id="populaires_slides">
            {% for movie in movies | slice(4, 3) %}
            <div class="popular_movie">
                <img src="{{ movie.poster }}" alt="{{ movie.title }}">
                <h3>{{ movie.title }}</h3>
            </div>
            {% endfor %}
        </div>
        <button>
            Voir tous <svg xmlns="http://www.w3.org/2000/svg" width="25" height="16" xmlns:v="https://vecta.io/nano">
                <path d="M17.962 0H1.5A1.5 1.5 0 0 0 .443 2.558l7.2 7.2c1.156 1.154 3.029 1.154 4.185 0L14.57 7.02l4.463-4.463A1.5 
                1.5 0 0 0 17.962 0z"/></svg>
        </button>
    </section>
{% endblock %}